lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store

pids
logs
results

npm-debug.log
node_modules
build-stamp
test-stamp
test/data
test/json

contrib/scrypt-1.1.6/.deps
contrib/scrypt-1.1.6/*.o
contrib/scrypt-1.1.6/scrypt
contrib/scrypt-1.1.6/Makefile
contrib/scrypt-1.1.6/config.h
contrib/scrypt-1.1.6/config.status
