body {
  margin-bottom:100px;
}
a {
  text-decoration: underline;
  color:#0cf;
}
a:hover {
  color:#0ad;
}
.nav li a, .nav li a:hover {
  text-decoration: none;
  color: #0cf;
}
.nav li.active a,.nav li.active a:hover  {
  color:#fff;
  background-color:#0cf;
}
.nav li {
  margin:10px;
}

.container {
  margin-top:100px;
  line-height: 1.5em;
}
.container p {
  margin-bottom:20px;
}
.container p.answer {
  margin:30px;
  max-width:400px;
}
ul {
  margin-bottom:30px;
}
.intro {
  margin-top:30px;
  margin-bottom:30px;
}
.brand {
  font-size:2.5em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight:700;
  color:#333;
  letter-spacing: 0.1em;
  border-bottom:1px solid #ddd;
  margin-top:50px;
  margin-bottom:20px;
  padding-bottom:30px;
}
.logo-container {
  float:left;
  width:163px;
  margin:-50px 20px 10px -184px;
}
.aes {
  color:#0cf;
}
.salsa20 {
  color:#0c0;
}
.twofish {
  color:#f0f;
}
.demo h5 {
  color:#666;
}
h3 {
  margin-top:30px;
  margin-bottom:20px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.subsection {
  margin-top:80px;
}

pre, .output-code, #progress-summary {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
#progress-summary {
  font-size:0.8em;
  margin:15px;
  color:#333;
}
pre, .output-code, #progress-summary, code {
  color: #906;
}
code {
  background-color: #ffeef8;
}
pre, .output-code {
  margin:20px 0 20px 0;
  background-color:#f5f5f5;
  border: 1px solid #e3e3e3;
  padding:50px;
  white-space: pre-wrap;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
}
.output-code {
  border-width: 0;
  background-color:#e8e8e8;
}
